pandas<=1.5.3
geopandas
orca>=1.4.0
toolz==0.10
numpy<=1.19.5
pandana>=0.5.1
streamlit
pyyaml
ipykernel
matplotlib
bokeh
seaborn
datashader
plotly
stopwatch.py
openmatrix
patsy >= 0.4
statsmodels >= 0.8
