*
**.h5
!.gitignore
!calibrated_values/
!calibrated_values/**
!calibrated_configs/
!calibrated_configs/**
!sf_bay_example/
!sf_bay_example/**
!small_example/
!small_example/**
!small_example/*.h5
**/.DS_Store